<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - The Villain Database</title>
        <meta name="description" content="All about villains">
        <meta name="keywords" content="nicolas, bonnot, villains, super-hero, super, hero, nicolas bonnot">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta property="og:title" content="{{ block('title') }} - The Villain Database">
        {# <meta property="og:image" content="http://nicolasbonnot.fr/images/cover.jpg"> #}
        {# <meta property="og:url" content="http://www.nicolasbonnot.fr"> #}
        <meta property="og:site-name" content="{{ block('title') }} - The Villain Database">
        <meta property="og:description" content="All about villains">
        <meta name="twitter:card" content="summary_large_image">
        {# <meta name="twitter:site" content="@Nicolas_B"> #}
        <meta name="twitter:creator" content="@Nicolas_B">
        <meta name="twitter:title" content="{{ block('title') }} - The Villain Database">
        <meta name="twitter:description" content="All about villains">
        {# <meta name="twitter:image:src" content="http://nicolasbonnot.fr/images/cover.jpg"> #}
        {# <link rel="shortcut icon" type="image/png" href="images/favicon.png"> #}

        <link href="/web/admin/styles/main.css" rel="stylesheet" />
    </head>
    <body>
        <div id="header">
            <div class="logo">
                <a href="{{ path_for('admin_index') }}">
                    <img src="/web/admin/styles/images/mask.png" class="logo-img" alt="logo">
                </a>
            </div>
            <div class="title">
                {{ block('title') }} - The Villain Database
            </div>
        </div>
        <div id="menu">
            <div class="sections">
                <li class="item">
                    <a href="{{ path_for('admin_creator') }}" class="creator">
                        <i class="icon-item"><img src="/web/admin/styles/images/creator.png"></i>
                        <span class="label-item">Creator</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="hero">
                        <i class="icon-item"><img src="/web/admin/styles/images/hero.png"></i>
                        <span class="label-item">Hero</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="media">
                        <i class="icon-item"><img src="/web/admin/styles/images/media.png"></i>
                        <span class="label-item">Media</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="organization">
                        <i class="icon-item"><img src="/web/admin/styles/images/organization.png"></i>
                        <span class="label-item">Organization</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="physical-distinction">
                        <i class="icon-item"><img src="/web/admin/styles/images/physical_distinction.png"></i>
                        <span class="label-item">Physical distinction</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="saga">
                        <i class="icon-item"><img src="/web/admin/styles/images/saga.png"></i>
                        <span class="label-item">Saga</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="species">
                        <i class="icon-item"><img src="/web/admin/styles/images/species.png"></i>
                        <span class="label-item">Species</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="universe">
                        <i class="icon-item"><img src="/web/admin/styles/images/universe.png"></i>
                        <span class="label-item">Universe</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="villain">
                        <i class="icon-item"><img src="/web/admin/styles/images/villain.png"></i>
                        <span class="label-item">Villain</span>
                    </a>
                </li>
            </div>
        </div>
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>